// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #96bf48;
$title-color:       rgba(255, 255, 255, 0.7);;

// ----------------------------------------------------------------------------
// Widget-buildbot styles
// ----------------------------------------------------------------------------
.widget-caltrain {
    background-color: $background-color;

    ul {
        display: table;
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;

        li {
            display: table-row;
            width: 100%;

            span {
                margin: 2px 0px 0px 0px;
                padding: 5px 0px;
                display: table-cell;
                vertical-align:middle;

                div {
                    height: 100%;
                    background-color: $background-color;
                    padding: 5px 0px;

                    span {
                        background-color: transparent;
                        padding: 0px;
                        display: inline-block;
                        float: left;
                    }

                    .number {
                        width: 50%;
                        
                        h2 {
                            font-size: 25px;
                        }
                    }
                    .type {
                        width: 30%;
                    }

                    .time {
                        width: 20%;
                    }

                    .notes {
                        display: none;
                    }
                }
            }
        }
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 25px;
    }

    .template {
        display: none;
    }

    .direction {

        h1 {
            font-size: 25px;
            color: $title-color;
            text-transform: uppercase;
            background-color: transparent;
        }
    }
}
