// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #F28972;
$value-color:       #222;

$title-color:       rgba(16, 16, 16, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-push {

    padding: 0px !important;

    background-color: transparent;

    h1 {
        color: $title-color;
        font-size: 20px;
        background-color: transparent;
    }

    ul {
        display: table;
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;

        li {
            display: table-row;
            width: 100%;

            span {
                margin: 2px 0px 0px 0px;
                padding: 5px 0px;
                display: table-cell;
                vertical-align:middle;

                div {
                    height: 100%;
                    padding: 5px 0px;

                    span {
                        // background-color: transparent;
                        padding: 0px;
                        display: inline-block;
                        float: left;
                    }

                    .current {
                        width: 25%;
                    }

                    .user {
                        width: 30%;
                    }

                    .time {
                        width: 20%;
                    }

                    .rising {
                        width: 25%;
                    }
                }
            }
        }

        :first-child span {
            padding-top: 0px;
        }

        :last-child span {
            padding-bottom: 0px;
        }
    }

    .template {
        display: none;
    }

    h2 {
        font-size: 25px;
        color: $value-color;
        text-transform: none;
        background-color: transparent;
    }

    .type {
        font-size: 25px;
        color: $title-color;
        text-transform: uppercase;
        background-color: transparent;
    }


}
